<strong>Olá, {{ name }} </strong>
<p>Uma de suas entregas foi cancelada, veja abaixo mais informações:  </p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <strong>Motivo: </strong> {{ description }}

</p>
